body {
  margin: 0;
  font-family:'Roboto', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 239, 239);
  font-size: 14;
}
li {
  list-style:none;
}

textarea {
  font-family:'Roboto', sans-serif,
}
input:focus,
textarea:focus{
  outline: 1px solid #26a9e0;
  border:none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
